/* Colour variables so it's easier to reference my chosen palette */

:root {
    --bg-base: #ECF0F1; /*Platinum for my background*/
    --text-primary: #1F2933; /*Jet Black for my primary text*/
    --text-secondary: #334155;  /*Charcoal Blue for text*/
    --ui-structure: #334155; /*Charcoal Blue for nav/panels*/
    --accent-blue: #6C91C2; /*Dusty Denim; interactive e.g. links; buttons*/
    --accent-blue-hover: #5679A8; /*Darker blue for hovering*/
    --alert-red: #C0392B; /*Tomato Jam for errors and negative metrics8*/
}

/* BASE STYLES */

/* Base for everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, sans-serif;
}

/* Making the app stretch all the way */
body, html {
    height: 100%;
}

#app {
    height: 100%;
}


h1, h2, h3 {
    color: var(--text-primary);
}

/* LOGO */

.custom-sidebar h4 {
    color: var(--bg-base);
    font-weight: 700;
    letter-spacing: 0.05em;
}

/* SIDEBAR */

.custom-sidebar {
    height: 100%;
    width: 250px;
    background-color: var(--ui-structure); 
    display: flex; /* enabling flexbox layoutc */
    flex-direction: column; /* ensuring children are layed out vertically */
    flex-shrink: 0; /* preventing sidebar doesn't shrink if main content becomes too large */    
}

/* Nav link default state */
.custom-sidebar .nav-link {
    color: var(--bg-base);
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease; /* Transition settings for when user hovers*/
}

/* Nav link hover state */
.custom-sidebar .nav-link:hover {
    background-color: var(--text-primary); /* Button background goes one shade darker*/ 
    color: var(--bg-base);
}

/* Active page */
.custom-sidebar .nav-link.active {
    background-color: var(--accent-blue);
    color: var(--bg-base);
    font-weight: 500;
}

/* MAIN CONTENT */

#main-content {
    flex: 1;
    background-color: var(--bg-base);
    color: var(--text-secondary);
}

/* Hero section */

#hero {
    background-color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start ;
    padding: 64px;
}

#hero-text h1 {
    color: var(--bg-base);
    font-size: 52px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 20px;
}

#hero-text p {
    color: var(--bg-base);
    font-size: 17px;
    opacity: 0.7;
    max-width: 420px;
    line-height: 1.6;
}

#hero-stats {
    display: flex;
    gap: 48px;
    margin-top: 48px;
    padding-top: 48px;
    border-top: 1px solid rgba(236, 240, 241, 0.15); /* subtle divider line */
}

.stat-value {
    display: block;
    font-size: 36px;
    font-weight: 700;
    color: var(--accent-blue);
}

.stat-label {
    display: block;
    font-size: 13px;
    color: var(--bg-base);
    opacity: 0.6;
    margin-top: 4px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}