# Notes for me as I learn to work with tools

# The packages being used are typically portrayed in the requriements.txt file as package_name=version, e.g pandas==2.2.0. This is to use specific versions. They don't 
# have to be specified like this

jupyterlab
